.container {
border: solid 1px black;
    -moz-box-shadow: 0 0 4px black;
    -webkit-box-shadow: 0 0 4px black;
text-align: center;
}

div {
height: 50%;
}

input[type=file] {
	margin: 0 auto;
}

/*label {
padding-top: 200px;
} */
